body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(255, 242, 242);
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: rgb(32, 64, 86);
}

h2 {
  font-weight: bold;
  font-size: 1em;
}

p {
  font-size: 1em;
  color: rgb(74, 74, 74);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5em;
  border: 4px solid #ffffff;
  border-radius: 8px;
}

.card span {
  font-size: 7em;
  font-weight: 900;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card:hover {
  cursor: pointer;
}

#you-won {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 67%;
  font-size: 5em;
  font-weight: bold;
  color: red;
}

#match-game {
  opacity: 1;
  padding-top: 5.25em;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
